# IBM Developer Skills Network

# Regression model with Keras

## Download and Clean Dataset

In [2]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('https://raw.githubusercontent.com/sonpn82/Introduction-to-deep-learning-and-neural-network/master/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

## check number of missing value

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split data into predictors and target

In [7]:
# The target variable is the concrete sample strength
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Normalize the data

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
# number of predictors for buidling neural network
n_cols = predictors_norm.shape[1]

In [12]:
import keras

In [13]:
from keras.models import Sequential
from keras.layers import Dense

# Build a neural network

In [20]:
def regression_model():
    # create the model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,))) #ReLu activation model, n_cols input number, 50 unit
    model.add(Dense(50, activation='relu')) # 50 unit 2nd hidden layer
    model.add(Dense(50, activation='relu')) # 50 unit 3rd hidden layer
    model.add(Dense(1)) # output layer - 1 unit

    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error') # using adam instead of gradient descent
    return model

# Train and test the network

In [21]:
model = regression_model()

In [22]:
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)
# validation_split: factor of training data used as validation data, loss is calculated from this data
# epochs: number of epoch to train the model: an iteration over the entire dataset
# verbose: print out the running process 0: not print 1 & 2 print

Epoch 1/100
23/23 - 0s - loss: 1629.4700 - val_loss: 1083.1898
Epoch 2/100
23/23 - 0s - loss: 1319.7885 - val_loss: 665.5133
Epoch 3/100
23/23 - 0s - loss: 650.1630 - val_loss: 228.1294
Epoch 4/100
23/23 - 0s - loss: 286.5405 - val_loss: 207.4781
Epoch 5/100
23/23 - 0s - loss: 237.3231 - val_loss: 198.9208
Epoch 6/100
23/23 - 0s - loss: 218.3087 - val_loss: 186.6692
Epoch 7/100
23/23 - 0s - loss: 203.6433 - val_loss: 188.3108
Epoch 8/100
23/23 - 0s - loss: 191.2661 - val_loss: 179.9251
Epoch 9/100
23/23 - 0s - loss: 182.5904 - val_loss: 176.2284
Epoch 10/100
23/23 - 0s - loss: 173.8150 - val_loss: 177.8702
Epoch 11/100
23/23 - 0s - loss: 166.7081 - val_loss: 170.5893
Epoch 12/100
23/23 - 0s - loss: 159.7869 - val_loss: 175.6284
Epoch 13/100
23/23 - 0s - loss: 154.7299 - val_loss: 163.7203
Epoch 14/100
23/23 - 0s - loss: 146.6396 - val_loss: 165.9659
Epoch 15/100
23/23 - 0s - loss: 141.5114 - val_loss: 161.3272
Epoch 16/100
23/23 - 0s - loss: 134.8639 - val_loss: 159.3285
Epoch 17/100
23/23 - 0s - loss: 128.7196 - val_loss: 158.8945
Epoch 18/100
23/23 - 0s - loss: 121.5706 - val_loss: 160.8380
Epoch 19/100
23/23 - 0s - loss: 113.8923 - val_loss: 150.3868
Epoch 20/100
23/23 - 0s - loss: 106.8369 - val_loss: 154.2417
Epoch 21/100
23/23 - 0s - loss: 100.9608 - val_loss: 153.9797
Epoch 22/100
23/23 - 0s - loss: 97.8024 - val_loss: 154.9555
Epoch 23/100
23/23 - 0s - loss: 91.0057 - val_loss: 146.7618
Epoch 24/100
23/23 - 0s - loss: 84.1867 - val_loss: 144.7917
Epoch 25/100
23/23 - 0s - loss: 79.4091 - val_loss: 141.2164
Epoch 26/100
23/23 - 0s - loss: 75.0609 - val_loss: 139.8827
Epoch 27/100
23/23 - 0s - loss: 70.9450 - val_loss: 146.6825
Epoch 28/100
23/23 - 0s - loss: 70.6664 - val_loss: 146.8146
Epoch 29/100
23/23 - 0s - loss: 67.1976 - val_loss: 132.9702
Epoch 30/100
23/23 - 0s - loss: 63.4020 - val_loss: 150.9208
Epoch 31/100
23/23 - 0s - loss: 60.0493 - val_loss: 125.5585
Epoch 32/100
23/23 - 0s - loss: 57.7791 - val_loss: 126.1151
Epoch 33/100
23/23 - 0s - loss: 54.8582 - val_loss: 152.3391
Epoch 34/100
23/23 - 0s - loss: 53.3436 - val_loss: 144.2391
Epoch 35/100
23/23 - 0s - loss: 51.1987 - val_loss: 127.2684
Epoch 36/100
23/23 - 0s - loss: 49.4050 - val_loss: 142.3570
Epoch 37/100
23/23 - 0s - loss: 47.6219 - val_loss: 136.7073
Epoch 38/100
23/23 - 0s - loss: 46.7179 - val_loss: 143.6022
Epoch 39/100
23/23 - 0s - loss: 44.7866 - val_loss: 155.1276
Epoch 40/100
23/23 - 0s - loss: 44.2986 - val_loss: 156.1351
Epoch 41/100
23/23 - 0s - loss: 41.5874 - val_loss: 148.6452
Epoch 42/100
23/23 - 0s - loss: 41.1964 - val_loss: 149.4803
Epoch 43/100
23/23 - 0s - loss: 42.5140 - val_loss: 154.1191
Epoch 44/100
23/23 - 0s - loss: 39.8513 - val_loss: 143.0026
Epoch 45/100
23/23 - 0s - loss: 37.3521 - val_loss: 154.5354
Epoch 46/100
23/23 - 0s - loss: 38.1165 - val_loss: 156.0620
Epoch 47/100
23/23 - 0s - loss: 37.0604 - val_loss: 167.7726
Epoch 48/100
23/23 - 0s - loss: 35.1361 - val_loss: 166.1964
Epoch 49/100
23/23 - 0s - loss: 35.0971 - val_loss: 174.4499
Epoch 50/100
23/23 - 0s - loss: 34.3453 - val_loss: 144.3117
Epoch 51/100
23/23 - 0s - loss: 34.8396 - val_loss: 167.3551
Epoch 52/100
23/23 - 0s - loss: 32.5675 - val_loss: 166.1342
Epoch 53/100
23/23 - 0s - loss: 32.3544 - val_loss: 193.3286
Epoch 54/100
23/23 - 0s - loss: 32.2705 - val_loss: 180.1027
Epoch 55/100
23/23 - 0s - loss: 30.6652 - val_loss: 174.6181
Epoch 56/100
23/23 - 0s - loss: 29.8656 - val_loss: 198.9725
Epoch 57/100
23/23 - 0s - loss: 29.7439 - val_loss: 182.7363
Epoch 58/100
23/23 - 0s - loss: 29.3348 - val_loss: 165.7230
Epoch 59/100
23/23 - 0s - loss: 30.9050 - val_loss: 189.4536
Epoch 60/100
23/23 - 0s - loss: 29.1291 - val_loss: 189.0633
Epoch 61/100
23/23 - 0s - loss: 28.9763 - val_loss: 195.9338
Epoch 62/100
23/23 - 0s - loss: 27.5933 - val_loss: 182.2878
Epoch 63/100
23/23 - 0s - loss: 26.8292 - val_loss: 185.3741
Epoch 64/100
23/23 - 0s - loss: 26.1904 - val_loss: 202.8955
Epoch 65/100
23/23 - 0s - loss: 26.4126 - val_loss: 207.1631
Epoch 66/100
23/23 - 0s - loss: 26.5335 - val_loss: 172.0829
Epoch 67/100
23/23 - 0s - loss: 25.5565 - val_loss: 178.2895
Epoch 68/100
23/23 - 0s - loss: 25.0149 - val_loss: 183.3835
Epoch 69/100
23/23 - 0s - loss: 24.7662 - val_loss: 186.6091
Epoch 70/100
23/23 - 0s - loss: 25.8869 - val_loss: 190.6905
Epoch 71/100
23/23 - 0s - loss: 25.2542 - val_loss: 200.8308
Epoch 72/100
23/23 - 0s - loss: 24.4426 - val_loss: 192.7805
Epoch 73/100
23/23 - 0s - loss: 23.6195 - val_loss: 194.6349
Epoch 74/100
23/23 - 0s - loss: 23.3995 - val_loss: 187.4750
Epoch 75/100
23/23 - 0s - loss: 22.6570 - val_loss: 185.8970
Epoch 76/100
23/23 - 0s - loss: 22.5652 - val_loss: 188.6689
Epoch 77/100
23/23 - 0s - loss: 22.0132 - val_loss: 197.2734
Epoch 78/100
23/23 - 0s - loss: 22.8395 - val_loss: 209.1576
Epoch 79/100
23/23 - 0s - loss: 22.3160 - val_loss: 190.8595
Epoch 80/100
23/23 - 0s - loss: 21.4245 - val_loss: 203.5264
Epoch 81/100
23/23 - 0s - loss: 21.1304 - val_loss: 193.8757
Epoch 82/100
23/23 - 0s - loss: 21.2070 - val_loss: 202.4143
Epoch 83/100
23/23 - 0s - loss: 20.8555 - val_loss: 192.6431
Epoch 84/100
23/23 - 0s - loss: 20.4645 - val_loss: 187.1613
Epoch 85/100
23/23 - 0s - loss: 20.5232 - val_loss: 206.4565
Epoch 86/100
23/23 - 0s - loss: 20.3215 - val_loss: 200.5182
Epoch 87/100
23/23 - 0s - loss: 20.0487 - val_loss: 219.2353
Epoch 88/100
23/23 - 0s - loss: 20.1712 - val_loss: 193.1635
Epoch 89/100
23/23 - 0s - loss: 19.4156 - val_loss: 192.7445
Epoch 90/100
23/23 - 0s - loss: 19.1042 - val_loss: 206.8584
Epoch 91/100
23/23 - 0s - loss: 18.9912 - val_loss: 195.0465
Epoch 92/100
23/23 - 0s - loss: 18.4730 - val_loss: 186.0564
Epoch 93/100
23/23 - 0s - loss: 18.9463 - val_loss: 206.3277
Epoch 94/100
23/23 - 0s - loss: 19.4230 - val_loss: 229.4578
Epoch 95/100
23/23 - 0s - loss: 18.9177 - val_loss: 202.6757
Epoch 96/100
23/23 - 0s - loss: 18.7362 - val_loss: 231.1819
Epoch 97/100
23/23 - 0s - loss: 18.2194 - val_loss: 204.6232
Epoch 98/100
23/23 - 0s - loss: 17.9127 - val_loss: 192.5883
Epoch 99/100
23/23 - 0s - loss: 17.5660 - val_loss: 199.6735
Epoch 100/100
23/23 - 0s - loss: 17.9656 - val_loss: 208.4616